// Fonts
@font-face {
  src: url(../fonts/F37_Ginger/F37\ Ginger\ Regular.ttf);
  font-family: F37_Ginger_Regular;
}

// <!-- Constants Starts Here --!>
$mainBG: #ffffff;
$greenAction: #3eb291;
$greyishBG: #8d9196;
$greenCheck: #b5cebf;

$fontRed: #df242b;
$fontWhite: #ffffff;
$fontGrey: #495057;
$fontGreyLight: #7a7a7a;
$fontGreyLighter: #acb5bd;
$lightTextOpacity: 0.3;

$largeScreenBreak: 992px;
// <!-- Constants Ends Here --!>

body {
  background: $mainBG;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: F37_Ginger_Regular;
}
