// Fonts
@font-face {
  src: url(../fonts/F37_Ginger/F37\ Ginger\ Regular.ttf);
  font-family: F37_Ginger_Regular;
}

// <!-- Constants Starts Here --!>
$mainBG: #ffffff;
$greenAction: #3eb291;
$greyishBG: #8d9196;
$greenCheck: #b5cebf;
$lightGreyishBG: #eaeaea;

$fontMain: #000000;
$fontRed: #df242b;
$fontRedDarker: #d1030a;
$fontWhite: #ffffff;
$fontGrey: #495057;
$fontListGrey: #60615d;
$fontGreyLight: #7a7a7a;
$fontGreyLighter: #acb5bd;
$lightTextOpacity: 0.3;
$listItemsOpacity: 0.6;
$underlineColor: #3b2e6b;
$underlineOpacity: 0.1;

$largeScreenBreak: 992px;
$textPaddingForLargeScreens: 5px;
// <!-- Constants Ends Here --!>

body {
  background: $mainBG;
  color: $fontMain;
  margin: 0;
  padding: 0;
  font-family: F37_Ginger_Regular;

  //TODO : Ask if it is good idea to place line-height and letter spacing here or should I assign them on containers
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 20px;
  }
  h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 20px;
  }
  @media (max-width: $largeScreenBreak) {
    h1 {
      font-size: 35px;
      line-height: 46px;
    }
    h2 {
      font-size: 35px;
      line-height: 40px;
    }
    h3 {
      font-size: 25px;
      line-height: 25px;
    }
  }
}

.main {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;

  @media (min-width: 1300px) {
    width: 80%;
  }
  @media (min-width: 1400px) {
    width: 70%;
  }
  @media (max-width: $largeScreenBreak) {
    width: 95%;
  }
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0 0 0;

  @media (max-width: $largeScreenBreak) {
    margin: 57px 0 0 0;
  }

  & > div {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (min-width: $largeScreenBreak) {
      flex-direction: row;
    }
  }

  .title-container {
    opacity: $lightTextOpacity;
    height: 92px;
    height: auto;

    // Add extra space for large screens
    @media (min-width: $largeScreenBreak) {
      & > span:nth-child(2) {
        padding-left: $textPaddingForLargeScreens;
      }
    }
  }

  .subtitle-container {
    & span.underlined_text {
      background: linear-gradient(
        to right,
        rgba(59, 46, 107, $underlineOpacity),
        rgba(59, 46, 107, $underlineOpacity)
      );
      background-size: 100% 8px;
      background-position: 0 87%;
      background-repeat: no-repeat;
    }
    // Add extra space for large screens
    margin-top: 37px;
    @media (min-width: $largeScreenBreak) {
      & > span:nth-child(2) {
        padding-left: $textPaddingForLargeScreens;
      }
    }
    @media (max-width: $largeScreenBreak) {
      margin-top: 15px;
    }
  }

  .list-container {
    opacity: $listItemsOpacity;
    margin: 27px 0 0 0;

    & span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    & span img {
      margin-right: 20px;
    }
    @media (max-width: $largeScreenBreak) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .list-container__mobile-item {
      color: $fontListGrey;
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;

      &:nth-child(1) {
        margin-bottom: 16.18px;
      }
      & > span.list-container__icon-container {
        width: 80px;

        & > img {
          margin-left: auto;
        }
      }
    }

    & > div {
      margin: 0 25px;
    }
  }
}

.content-container {
  width: 100%;
  margin-top: 52px;
  @media (max-width: $largeScreenBreak) {
    margin-top: 29px;
  }

  & div.mobile-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & div.desktop-media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  & img {
    max-height: 225px;
  }

  & div.desktop-media__item__info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0 0 27.83px;
    // border: 1px solid red;
    padding-left: 10px;

    & > span:nth-child(1) {
      font-size: 20px;
    }
    & > span:nth-child(2) {
      opacity: 0.4;
    }
  }

  // remove the padding for smaller-shadowed image
  & div.padding_0 {
    padding: 0;
  }

  & div.desktop-media__separator {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 30px rgb(36 36 72 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 80px;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 46px 0px 10px 0px;

  height: auto;

  @media (max-width: $largeScreenBreak) {
    flex-direction: column;
    margin: 10px 0 10px 0;
  }

  & div.footer-container__advantage-container {
    color: $fontRed;
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
    font-weight: bold;
    text-align: center;
    min-width: 174px;

    & > span.smaller-text {
      font-size: 26px;
      line-height: 25px;
      font-weight: 700;
    }

    @media (max-width: $largeScreenBreak) {
      margin-top: 21px;
      & > span.save-amount {
        font-size: 45px;
        line-height: 40px;
        font-weight: 400;
      }
    }
  }
  & div.footer-container__price-container {
    position: relative;
    color: $fontGreyLight;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

    & div.total-price {
      margin-bottom: 12px;
    }

    @media (max-width: $largeScreenBreak) {
      margin-top: 35px;
    }
  }

  & div.bottom-text {
    position: absolute;
    bottom: -15px;
    right: 4px;
    font-size: 15px;
    line-height: 15px;
    color: $fontGreyLight;
    font-weight: 400;
  }

  & div.bundle-price {
    color: $fontMain;
  }

  & span.price-red {
    color: $fontRed;

    @media (max-width: $largeScreenBreak) {
      color: $fontRedDarker;
    }
  }

  & div.footer-container__separator {
    margin: 0 48.59px 0 47px;
  }

  & div.footer-container__action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    width: auto;

    @media (max-width: $largeScreenBreak) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    & div.action-container__button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    & button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 15px;
      background-color: $greenAction;
      color: $fontWhite;
      border: none;
      height: 70px;
      width: 391px;

      cursor: pointer;

      & > img {
        margin-right: 20px;
      }

      @media (max-width: $largeScreenBreak) {
        padding: 30px 60px;
        width: 90%;
      }
    }

    & div.info-container {
      margin-top: 17px;
      opacity: 0.3;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 12px;
      font-weight: 700;

      @media (max-width: $largeScreenBreak) {
        margin-top: 20px;
      }
    }
  }
  & div.footer-container__mobile-save-info {
    background-color: $lightGreyishBG;
    margin: 40px 5px 5px 5px;
    padding: 13px 15px 13px 15px;
    text-align: center;
    color: $fontGreyLight;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 2px;
    width: 90%;
  }
  & div.list-for-mobile {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;

    // select first 2 elements
    & div.list-for-mobile__item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    & span.item-text {
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;

      color: $fontGrey;
      margin-left: 20px;
    }
  }
}

// additional custom styles
.margin-left_30 {
  margin-left: 30px;
}
.margin-bottom_30 {
  margin-bottom: 30px;
}
